{% extends 'registration/base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-6 col-lg-4">
        <div class="card box-margin">
            <div class="card-body">
                <div class="float-right"><i class="fa fa-id-badge text-danger font-30"></i></div><span class="badge badge-danger">Registered Customers</span>
                <h4 class="my-3">26k</h4>
                <p class="mb-0"><span class="text-success"><i class="fa fa-level-up mr-1" aria-hidden="true"></i>7.5%</span>New Sessions Today</p>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-sm-6 col-lg-4">
        <div class="card box-margin">
            <div class="card-body">
                <div class="float-right"><i class="fa fa-bar-chart-o font-30"></i></div><span class="badge badge-secondary">Units Bought</span>
                <h4 class="my-3">00:28</h4>
                <p class="mb-0"><span class="text-danger"><i class="fa fa-level-down mr-1" aria-hidden="true"></i>1.4%</span> Weekly Avg.Sessions</p>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-sm-6 col-lg-4">
        <div class="card box-margin">
            <div class="card-body">
                <div class="float-right"><i class="fa fa-codiepie text-warning font-30"></i></div><span class="badge badge-warning">Income From Bought Units</span>
                <h4 class="my-3">$2500</h4>
                <p class="mb-0"><span class="text-danger"><i class="fa fa-level-down mr-1" aria-hidden="true"></i>45%</span> Bounce Rate Weekly</p>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
{% endblock content %}
    